.CardWrapperHeads {
    display: inline-flex;
    border: 2px solid #DB8D0D;
    background-color: #cae9ff;
    flex: 1;
    justify-content: center;
    cursor: pointer;
    
    -webkit-box-shadow: inset 2px 0px 8px 0px rgba(71,63,6,1);
    -moz-box-shadow: inset 2px 0px 8px 0px rgba(71,63,6,1);
    box-shadow: inset 2px 0px 8px 0px rgba(71,63,6,1);
}

.CardWrapperTails {
    display: inline-flex;
    border: 2px solid #DB8D0D;
    background-color: #eae2b7;
    flex: 1;
    justify-content: center;
    cursor: pointer;
    
}

.ImageWrapper {
    display: flex;
    flex: 1;
    /* flex-shrink: 2; */
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100%;
    width: 100%;
    padding: 35px 10px;
    box-sizing: border-box;


}

@media only screen and (min-width: 1024px) {
    .ImageWrapper {
        min-height: 130px;
        padding: 20px 10px;
    }
}

@media only screen and (min-width: 1624px) {
    .ImageWrapper {
        min-height: 180px;
    }
  }

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    background: none;
    width: auto;
    height: auto;
    max-width: 60%;
    max-height: 60%;
  }


  .AnimationIn {
    transform: rotateY(-180deg);
    transition: 0.8s;
    transition-timing-function: ease-in-out;
    transform-style: preserve-3d;
    visibility: visible;
    backface-visibility: visible;
    
  }

  .AnimationOut {
    transform: rotateY(0deg);
    transition: 1s;
    transition-timing-function: ease-in-out;
    transform-style: preserve-3d;
  }


.FlippedIn {
    animation: flipIn 0.3s forwards ease-in-out;
    opacity: 1;
}

.FlipOut {
    opacity: 1;
    animation: rotate 25s infinite linear;

}
/* 
@keyframes flipIn {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
  } */

  @keyframes rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
  }
